* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url('./imagem/519c2270779257.5bae709dac7d8.gif');
  background-size: cover;
  flex-direction: column;
}

header {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nome {
  color: blanchedalmond;
  height: 80%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Righteous', cursive;
}

.logo {
  height: 90%;
  width: 15%;
  background-image: url('./imagem/nasa.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.enviar {
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data {
  height: 40%;
  width: 25%;
  font-size: 17px;
}

button {
  background: #b4a7d6;
  border: 1px solid #556699;
  border-radius: 11px;
  box-shadow: 0 1px #444444;
  padding: 9px 15px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 17px/1 'Caviar', sans-serif;
  text-align: center;
  margin-left: 3%;
}

.principal {
  height: 70%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.descrição {
  color: rgb(76, 164, 214);
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}
.apod {
  display: flex;
  height: 70%;
  width: 90%;
  justify-content: space-around;
  align-items: center;
}
.conteudo {
  height: 40%;
  width: 50%;
  color: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.titulo {
  text-align: center;
  margin-bottom: 2%;
  font-family: 'Ubuntu Mono', monospace;
}
.texto {
  color: cornsilk;
  font-family: 'Ubuntu Mono', monospace;
}

.foto {
  height: 80%;
  width: 40%;
  display: none;
}

@media screen(min) {
}
