* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  background-image: url('./imagem/519c2270779257.5bae709dac7d8.gif');
  background-size: cover;
  flex-direction: column;
}

header {
  height: 20%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nome {
  color: blanchedalmond;
  height: 80%;
  width: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Righteous', cursive;
}

.logo {
  height: 150px;
  width: 150px;
  background-image: url('./imagem/nasa.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.principal {
  height: 80%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.responsivo {
  width: 80%;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin-top: -40px;
}

.descrição {
  color: rgb(76, 164, 214);
  font-family: 'Ubuntu', sans-serif;
  font-size: 20px;
}
.enviar {
  width: 80%;
  height: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.data {
  height: 40px;
  width: 25%;
  font-size: 17px;
}

button {
  background: #b4a7d6;
  border: 1px solid #556699;
  border-radius: 11px;
  box-shadow: 0 1px #444444;
  padding: 9px 15px;
  color: #ffffff;
  display: inline-block;
  font: normal bold 17px/1 'Caviar', sans-serif;
  text-align: center;
  margin-left: 3%;
}
.apod {
  display: flex;
  height: 70%;
  width: 100%;
  justify-content: space-around;
  align-items: center;
}
.conteudo {
  height: 100%;
  width: 60%;
  color: cornsilk;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-size: auto;
}
.titulo {
  text-align: center;
  margin-bottom: 2%;
  font-family: 'Ubuntu Mono', monospace;
}
.texto {
  color: cornsilk;
  font-family: 'Ubuntu Mono', monospace;
}

.foto {
  height: 70%;
  width: 30%;
  display: none;
}

@media (max-width: 750px) {
  body {
    height: auto;
    width: 100%;
  }
  .responsivo {
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .enviar {
    flex-direction: column;
    height: 100px;
    margin: 20px;
  }
  .data {
    height: 100px;
    width: 180px;
    margin-bottom: 20px;
  }

  .apod {
    display: flex;
    height: 70%;
    width: 100%;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
}
